<form title="Search for a location" class="searchbar" action="">
  <label>
    <input type="text" placeholder="Postcode or town name">
  </label>
  <button aria-label="Search for a location" class="material-icons">search</button>
</form>