<label data-target="<%= slug %>" class="js-adjust-map-<%= slug %> fancy-checkbox">
  <input <%= checked %> type="checkbox">
  <span class="checkbox material-icons">check</span>
  <span class="label"><%= name %></span>
</label>