<!DOCTYPE html>
<html lang="en" class="no-js">

<%- include('shared/head') %>

<body id="interactive-map" data-state="is-active">
	<%- include('shared/masthead') %>
	<main class="grid">
		<% // @TODO: Make sure the error state loads %>
		<% if (locals.statusCode <= 200) { %>

			<%- include('content/home', {locals}) %>

		<% } else { %>

			<%- include('content/error', {locals}) %>
			
		<% } %>
	</main>
	<script src="js/app.js" charset="utf-8"></script>
</body>

</html>
