<aside title="Franchise information" class="sidebar sidebar-right" data-state="not-active">
  <button aria-label="Toggle the right sidebar" class="js-toggle-sidebar toggle-sidebar material-icons" data-target="sidebar-right">chevron_right</button>
  <div class="inner">
    <table class="data-table bold-label bold-value">
      <tr class="no-border">
        <th>Name</th>
        <td class="js-value-name value-name"></td>
      </tr>
      <tr class="no-border">
        <th>Post Code</th>
        <td class="js-value-address value-address"></td>
      </tr>
      <tr class="no-border" style="display: none;">
        <th>Status</th>
        <td class="js-value-status value-status"></td>
      </tr>
    </table>
  </div>
</aside>