<aside title="Explore the map" class="sidebar sidebar-left" data-state="not-active">
  <button aria-label="Toggle the left sidebar" class="js-toggle-sidebar toggle-sidebar material-icons" data-target="sidebar-left">chevron_right</button>
  <div class="inner">
    <article>
      <h2 class="title">Explore the map</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, eius assumenda. Perferendis eligendi commodi dolorem numquam, ipsam iste corrupti totam!</p>
    </article>
    <form class="js-adjust-map" action="">
      <ul>
        <li>
          <label data-target="markers" class="js-adjust-map-markers fancy-checkbox">
            <input checked type="checkbox">
            <span class="checkbox material-icons">check</span>
            <span class="label">All stores</span>
          </label>
        </li>
        <li>
          <label data-target="boundaries" class="js-adjust-map-boundaries fancy-checkbox">
            <input type="checkbox">
            <span class="checkbox material-icons">check</span>
            <span class="label">Franchise territories</span>
          </label>
        </li>
      </ul>
    </form>
    <div class="sidebar_footer">
      <table class="js-map-key map-key">
        <% for( var i = 0; i < parseInt(locals.statusNames.length, 10); i++) { %>
          <tr>
            <td>
              <%- include('../../atoms/marker.ejs', {color: locals.statusColors[i]}) %>
            </td>
            <td>
              <%= locals.statusNames[i] %>
            </td>
          </tr>
        <% } %>
      </table>
    </div>
  </div>
</aside>