<aside title="Explore the map" class="sidebar sidebar-left" data-state="not-active">
  <button aria-label="Toggle the left sidebar" class="js-toggle-sidebar toggle-sidebar material-icons" data-target="sidebar-left">chevron_right</button>
  <div class="inner">
    <article>
      <h2 class="title">Explore the map</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, eius assumenda. Perferendis eligendi commodi dolorem numquam, ipsam iste corrupti totam!</p>
    </article>
    <form class="js-adjust-map" action="">
      <ul>
        <li>
          <label class="fancy-checkbox">
            <input checked type="checkbox">
            <span class="checkbox material-icons">check</span>
            <span class="label">All stores</span>
          </label>
        </li>
        <li>
          <label class="fancy-checkbox">
            <input type="checkbox">
            <span class="checkbox material-icons">check</span>
            <span class="label">Postcode areas</span>
          </label>
        </li>
        <li>
          <label class="fancy-checkbox">
            <input type="checkbox">
            <span class="checkbox material-icons">check</span>
            <span class="label">Postcode districts</span>
          </label>
        </li>
        <li>
          <label class="fancy-checkbox">
            <input type="checkbox">
            <span class="checkbox material-icons">check</span>
            <span class="label">Postcode sectors</span>
          </label>
        </li>
      </ul>
    </form>
  </div>
</aside>