<aside title="Explore the data" class="sidebar sidebar-right" data-state="not-active">
  <button aria-label="Toggle the right sidebar" class="js-toggle-sidebar toggle-sidebar material-icons" data-target="sidebar-right">chevron_right</button>
  <div class="inner">
  <table class="data-table bold-label bold-value">
    <tr class="no-border">
      <th>Name</th>
      <td>UK221</td>
    </tr>
    <tr class="no-border">
      <th>Clasification</th>
      <td>-</td>
    </tr>
    <tr>
      <th>Demographics</th>
      <td class="button_wrapper">
        <button class="button-tertiary" data-state="is-active">Values</button>
        <button class="button-tertiary">% of base</button>
        <button class="button-tertiary">Index</button>
      </td>
    </tr>
  </table>
  <table class="data-table bold-value">
    <tr>
      <th>Population</th>
      <td>151,015</td>
    </tr>
    <tr>
      <th>Households</th>
      <td>66,001</td>
    </tr>
  </table>
  <div class="button_wrapper">
    <button class="button-secondary">
      Demographic download
    </button>
  </div>
  </div>
</aside>