//  Colors
$clr_congress-blue: #004492;
$clr_my-sin:#FFB524;
$clr_maroon-flush: #C11A5D;
$clr_bright-turquoise: #11C7EE;
$clr_black: black;
$clr_mine-shaft: #303030;
$clr_boulder: #757575;
$clr_alto: #DDDDDD;
$clr_dusty-grey: #9B9B9B;
$clr_wild-sand: #F6F6F6;
$clr_white: white;
$clr_error: #cc0000;
$clr_success: #00cc00;
$clr_warning: #cc6600;
